@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.body
{
    width: 1469px;
    padding: -8px;
}
      .head {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.header__container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    font-family: 'Poppins', sans-serif;

}
.header__container img{
    height: 60px;
    padding: 0;
    margin-left: -50px;
}
.head nav {
    display: flex;
    align-items: center;
}

.head nav a{
    color: black;
     text-decoration: none;
}

.head p {
    margin-left: 45px;
    display: inline;
    transition: 0.15s all ease;
}

.head p:hover {
    border-bottom: 2px solid rgb(177, 32, 32);
}

.head span {
    margin: 15px 0;
}

.header__p{
    margin-right: 100px;
}
      .img-container {
        text-align: сenter;
      }
      .img_txt-container {
          height: 523px
          width: 1200px;
      }
      .article {
        font-size: 1.3cm;
        font-family: Poppins;
        display: flex;
        width: 1232px;
        justify-content: space-between;
        text-align: left;
      }
      .article-2 {
        font-family: Poppins;
        font-size: medium;
        padding-left: 50px;
      }
      .article-2-1 {
        font-family: Poppins;
        font-size: x-large;
        padding-top: 50px;
        padding-left: 100px;
      }
      .small-article {
        font-family: Inter;
        font-size: medium;
        color: #808080;
      }
      .textcols {
        column-count: 4;
        column-gap: 2%;
        background: #ffffff;
        font-family: Poppins;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left:40px;
        padding-right:40px;
      }
      .adds {
        text-align: center;
        font-family: Poppins;
        font-size: xx-large;
        margin: bottom 100px;
      }
      .add {
        text-align: center;
        font-family: Poppins;
        font-size: medium;
        margin-bottom: 100px;
        text-decoration: none;
      }
      .add a {
        text-decoration: none;
        color: black;
      }

      .button {
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #ffffff;
        padding:12px 18px;
        transition: 0.2s all ease;

      }
      .button:hover
      {
        color: white;
        border: 1px solid red;
        background-color: red;

      }
      .footer {
        width: 1477px;
        height: 536px;
        display: inline-flex;
        background: red;
        color: #ffffff;
        margin-left: -8px;
        margin-bottom: -8px;
      }
      .footer div {
        color: #ffffff;
      }
      .footer ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #ffffff;
        padding-right: 20px ;
      }
      .footer ul li a {
        color: #ffffff;
        text-decoration: none;
      }
      .footer_text
      {
        width: 300px;
        height: 240px;  
        margin-top: 20px;
        margin-left: 20px;
      }
      .footer_div
      {
         padding-left: 20px; 
         padding-right: 20px;
         padding-bottom: 20px;
      }

      li {
        list-style: none;
        font-family: Poppins;
      }
      h1 {
        font-family: Inter;
      }
      div {
        align-items: center;
      }
      .container
      {
        margin-left:  auto;
        margin-right: auto;
        width: 1200px;
      }
      .top menu
      {
        margin-right: 100px;
      }
      .list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1200px;
        margin-bottom: 133px;
    }
    .list__item{
        margin-top: 85px;
        text-align: left;
        width: 300px;
        border: 1px solid #C4C4C4;
        padding: 34px;
        border-radius: 12px;
    }
